.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(203, 205, 214, 0.52),
      rgba(128, 121, 126, 0.73)
    ),
    url("https://images.unsplash.com/photo-1620626011761-996317b8d101?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
}

.button-container {
  display: flex;
  gap: 3rem;
}

.new-banner {
  padding: unset;
  height: 100vh;
  position: relative;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    rgba(214, 203, 206, 0.52),
    rgba(128, 121, 126, 0.73)
  );
}
