.carroussel-container {
  overflow: hidden;
  position: relative;
  overflow-x: scroll;
}

.carroussel-item-container {
  display: flex;
  gap: 1.6rem;
}
.carrousel-item {
  aspect-ratio: 1/1;
  object-fit: contain;
}

.carroussel-navigation-right {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 4px;
}
.carroussel-navigation-left {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 4px;
}

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50px * 2));
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  border: 1px solid red;
}

.slider .slide-track {
  animation: scroll 10s linear infinite;
  display: flex;
  width: calc(50px * 9);
}

.slider .slide {
  height: 100px;
  width: 50px;
} */

.logo-slider {
  overflow-x: auto;
}

.logo-slider img {
  flex-shrink: 0;
  width: auto;
  height: 3rem; /* Adjust the height as needed */
  margin: 0 0.5rem; /* Adjust the margin as needed */
}
