.primary {
  border-radius: 4px;
  border: 1px solid white;
  padding: 0.8rem;
}

.primary:hover {
  background: white;
  color: black;
}

.button-as-link {
  cursor: pointer;
}

.whatsapp {
  display: flex;
  gap: 0.8rem;
  background-color: #16be45;
  padding: 16px;
  border-radius: 0.4rem;
  min-width: 5rem;
  color: white;
  font-weight: 700;
  justify-content: center;
  width: 100%;
}

.cta-primary-button {
  background: white;
  color: var(--accentColor);
  border: 1px solid var(--accentColor);
}

.cta-primary-button:hover {
  background: var(--accentColor);
  color: white;
}
