.detailed-service-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 780px) {
    width: 50%;
  }
}

.detailed-service-cards-content-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.detailed-service-card-container > p {
  text-align: justify;
}
.detailed-service-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

@media screen and (min-width: 780px) {
  .detailed-service-cards-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 780px) {
  .detailed-service-description {
    min-height: 170px;
    flex-direction: row;
  }
}
