@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./banner.css";
@import "./button.css";
@import "./skillSection.css";
@import "./card.css";
@import "./navbar.css";
@import "./separator.css";
@import "./numbers.css";
@import "./fullLogo.css";

:root {
  --primary: #007cbe;
  --secondary: #0e0e52;
  --danger: #a62639;
  --teal: #54b3d6;
}

html {
  /* !important to work when clicking in nav menu */
  scroll-behavior: smooth !important;
  background: #f5fcff;
}

section {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Raleway";
}

.teal {
  color: var(--teal);
}
