@import "./contactForm.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./banner.css";
@import "./button.css";
@import "./skillSection.css";
@import "./card.css";
@import "./navbar.css";
@import "./separator.css";
@import "./numbers.css";
@import "./fullLogo.css";
@import "./serviceCard.css";
@import "./detailedServiceCard.css";
@import "./pricingCard.css";
@import "./carroussel.css";
@import "./brandCarroussel.css";
@import "./whatsappQrCode.css";

:root {
  --primary: #007cbe;
  --secondary: #0e0e52;
  --danger: #a62639;
  --teal: black;
  /* --teal: #b36700; */
  /* --teal: #54b3d6; */
  --darkTeal: #3b7f98;
  --cream: white;
  --accentColor: #d9a962;
}

html {
  /* !important to work when clicking in nav menu */
  scroll-behavior: smooth !important;
  background: white;
}

body {
  font-family: "Raleway";
}

section {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid var(--accentColor);
}

section > h2 {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  text-transform: uppercase;
  margin-top: 3rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.teal {
  color: var(--teal);
}

.logo-title {
  font-family: "Caveat";
}

.show-only-mobile {
  @media screen and (min-width: 780px) {
    display: none;
  }
}

.show-only-desktop {
  display: none;
  @media screen and (min-width: 780px) {
    display: block;
  }
}
