@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./banner.css";
@import "./button.css";
@import "./skillSection.css";
@import "./card.css";
@import "./navbar.css";
@import "./separator.css";

:root {
  --primary: "#007CBE";
  --secondary: "#0E0E52";
  --danger: "#A62639";
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.navbar-item {
  box-shadow: inset 0 0 0 0 var(--danger);
  color: #54b3d6;
  padding: 0.8rem 1.2rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 4px;
}
.navbar-item:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}
