.big-number {
  font-size: 3rem;
  font-weight: 800;
}

.number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2rem;
  padding: 1.2rem;
  border: 1px solid var(--teal);
  border-radius: 8px;
}
