.pricing-round {
  background-color: var(--teal);
  border-radius: 100%;
  width: 5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-title {
  width: 200px;
}
